.header{
  padding: 1rem 0 0.7rem;
  background-color: var(--clr-white);

  &__main{
    @include flex(space-between,center,default);
  }

  &__logo{
    max-width: 22.2rem;

    a{
      @include flex(center,center,default);

      text-decoration: none;

      img{
        @include img(100%,7.3rem);

        object-fit: contain !important;
        -o-object-fit: contain !important;
      }
    }
  }

  &__menu{
    @include flex(null,center,default);

    -webkit-box-flex: 1;

        -ms-flex: 1;

            flex: 1;
    margin-left: auto;

    @include breakpoint(991){
      display: none;
      position: fixed;
      top: 9rem;
      background: var(--clr-white);
      width: 100%;
      left: 0;
      height: 100%;
      z-index: 999;
      padding: 0px 2rem;
    }
  }

  &__nav{
    width: 100%;

    ul{
      @include flex(center,center,default);

      list-style: none;

      li{
        &:not(:last-child){
          margin-right: 2.3rem;

          @include breakpoint(991){
            margin: 0;
          }
        }

        a{
          text-decoration: none;
          font-size: var(--fs-16);
          font-weight: var(--semiBold);
          text-transform: uppercase;
          color: var(--clr-black);
          -webkit-transition: all ease 0.3s;
          -o-transition: all ease 0.3s;
          transition: all ease 0.3s;

          &:hover{
            color: var(--clr-purple);
            font-weight: var(--bold);
          }
        }

        @include breakpoint(991){
          padding: 2rem 0px;
        }
      }

      @include breakpoint(991){
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: start;
            -ms-flex-align: start;
                align-items: flex-start;
      }
    }
  }

  &__buttons{
    @include flex(space-between,center,default);

    max-width: 25.2rem;
    width: 100%;
    margin-left: auto;

    a{
      &.btn-transparent{
        padding: 0.53125em 1.65em;
      }

      &.btn-filled{
        padding: 0.53125em 1.165625em;
      }
    }

    @include breakpoint(991){
      margin: 1rem 0px 0px;
    }
  }

  &__toggler{
    width: 4rem;
    height: 4rem;
    padding: 0.5rem 1.9rem;
    background-color: var(--clr-white);
    border: 0.1rem solid var(--clr-purple);
    display: none;
    border-radius: 0.5rem;

    .line{
      width: 2.3rem;
      height: 0.2rem;
      margin: 0.5rem auto;
      border-radius: 2rem;
      background-color: var(--clr-purple);
      -webkit-transition: all ease 0.6s;
      -o-transition: all ease 0.6s;
      transition: all ease 0.6s;
      display: block;
    }

    &.active{
      #hamburger-1 .line:nth-child(2){
        opacity: 0;
      }

      #hamburger-1 .line:nth-child(1){
        -webkit-transform: translateY(7px) rotate(45deg);
            -ms-transform: translateY(7px) rotate(45deg);
                transform: translateY(7px) rotate(45deg);
      }

      #hamburger-1 .line:nth-child(3){
        -webkit-transform: translateY(-7px) rotate(-45deg);
            -ms-transform: translateY(-7px) rotate(-45deg);
                transform: translateY(-7px) rotate(-45deg);
      }
    }

    @include breakpoint(991){
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
    }
  }
}